.videosPeliculas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.btn-link {
  text-decoration: none;
}

/*************** BOOTSTRAP Navegador **************/
header {
  position: sticky;
  top: 0;
  z-index: 99999;
}
header .navLogo img {
  width: 200px;
  padding: 15px;
}
header .navLinkPropio a {
  font-family: "Bebas Neue";
  font-size: 3rem;
}
header .navLinkPropio a:hover {
  color: rgb(205, 40, 40);
}
header .navBarPropio {
  gap: 100px;
}
header .hamburguesa {
  color: rgb(27, 32, 34);
  background-color: rgb(244, 241, 241);
}

/********* Footer compartido a mis 3 html**********/
footer {
  background-color: black;
  font-size: 2rem;
  font-family: "Barlow", sans-serif;
  color: white;
  position: sticky;
  bottom: 0%;
}
footer ul {
  margin: 0px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-evenly;
}
footer ul li a {
  text-decoration: none;
  color: white;
}

/* Index GIF*/
.imagenBindex {
  background-image: url(../paginas/imagenes/backgimage.jpg);
  height: 3000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/********** SECCION PELICULAS - INDEX************/
.containerPropioPeliculas {
  padding: 40px;
  margin-top: 40px;
}
.containerPropioPeliculas #texto-peliculas {
  font-size: 3rem;
  color: white;
  text-align: center;
  font-family: "Bebas Neue";
}
.containerPropioPeliculas .parrafoP {
  color: white;
  font-size: 2rem;
  font-family: "Barlow", sans-serif;
  margin: 50px;
  text-align: center;
}

.videosPeliculas {
  padding: 30px;
}

.seccionNoticias {
  margin: 0px;
}
.seccionNoticias h2 {
  font-size: 3rem;
  margin: 20px;
  text-align: center;
  font-family: "Bebas Neue";
}
.seccionNoticias #texto-noticias {
  color: white;
  font-size: 2rem;
  font-family: "Barlow", sans-serif;
  margin: 50px;
}

/*  CARDS NOTICIAS -INDEX */
.wPropio {
  width: 70% !important;
  background-color: #181d27;
  margin-bottom: 40px;
}

.botonPropio {
  background-color: rgb(6, 54, 55);
  border-color: rgb(6, 54, 55);
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 7px;
  font-size: 2rem;
}

.botonPropio:hover {
  color: darkcyan;
  background-color: darkcyan;
  border-color: darkcyan;
  background-color: transparent;
}

/************** PERSONAJES*********/
.imagenBpersonajes {
  background-image: url(../paginas/imagenes/imagenbackg2.jpg);
  height: 5000px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.seccionPersonajes .contenedorPersonajes {
  background-color: #181d27;
  padding: 30px;
}
.seccionPersonajes .tituloPersonajes {
  text-align: end;
  color: white;
  font-size: 6rem;
  padding-top: 30px;
  padding-right: 30px;
  font-family: "Bebas Neue";
  padding-bottom: 50%;
}
.seccionPersonajes .tituloTarjeta {
  font-family: "Bebas Neue";
  color: beige;
  font-size: 3rem;
}
.seccionPersonajes .cuerpodeTarjeta {
  padding: 30px;
}
.seccionPersonajes .estiloTarjeta {
  border: rgb(16, 14, 14);
  background-color: black;
}
.seccionPersonajes .letras {
  color: beige;
  font-size: 12px;
}
.seccionPersonajes .letras:hover {
  transform: scale(1.1);
  transition: all 0.7s;
}
.seccionPersonajes .tamanoTarjeta {
  padding-top: 40px;
  width: 400px;
  height: 600px;
}

/************ SECCION HISTORIA*************** */
.backgroundColorHistoria {
  background-color: #181d27;
  height: 8000%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.seccionHistoria h2 {
  color: white;
  font-family: "Bebas Neue";
  font-size: 4rem;
  padding-top: 20px;
  padding-right: 30px;
  text-align: center;
}
.seccionHistoria p {
  font-family: "Bebas Neue";
  color: white;
  font-size: 2rem;
}
.seccionHistoria .parrafo-uno-historia p {
  font-size: large;
  color: white;
}
.seccionHistoria .parrafo-uno-historia img {
  height: 600px;
  width: 500px;
}
.seccionHistoria .parrafo-uno-historia {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.seccionHistoria .parrafo-dos-historia p {
  font-size: large;
}
.seccionHistoria .parrafo-dos-historia img {
  height: 600px;
  width: 400px;
}
.seccionHistoria .parrafo-dos-historia {
  display: flex;
  flex-direction: row-reverse;
}
.seccionHistoria .parrafo-tres-historia p {
  font-size: large;
}
.seccionHistoria .parrafo-tres-historia img {
  height: 400px;
  width: 600px;
}
.seccionHistoria .parrafo-tres-historia {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.seccionHistoria article p {
  font-family: "Barlow", sans-serif;
  color: white;
  font-size: 3rem;
  margin: 30px;
  padding: 30px;
  height: 20%;
}
.seccionHistoria .parrafo-tres-historia p {
  width: 50%;
}

/************ Videos Historia*************** */
.tituloVideosHistoria {
  padding-top: 100px;
  padding-bottom: 30px;
  font-family: "Barlow", sans-serif;
  font-size: 3rem;
  color: white;
}

/* COMICS*/
.seccionComics {
  padding: 20px;
  padding-top: 100px;
  margin: 20px;
}
.seccionComics h2 {
  font-family: "Barlow", sans-serif;
}

.comics nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}
.comics .comic1:hover {
  transform: scale(1.1);
  transition: all 0.7s;
}
.comics .comic2:hover {
  transform: scale(1.1);
  transition: all 0.7s;
}
.comics .comic3:hover {
  transform: scale(1.1);
  transition: all 0.7s;
}
.comics .comic4:hover {
  transform: scale(1.1);
  transition: all 0.7s;
}
.comics .comic5:hover {
  transform: scale(1.1);
  transition: all 0.7s;
}
.comics .comic6:hover {
  transform: scale(1.1);
  transition: all 0.7s;
}

/****** Media Queries ******/
@media (max-width: 1200px) {
  .imagenBindex {
    height: 8000px;
  }
}
@media (max-width: 991.98px) {
  .ocultarTablet {
    display: none;
  }
  header {
    position: sticky;
    top: 0;
    z-index: 99999;
  }
  header .navLogo img {
    width: 150px;
    padding: 5px;
  }
  header .navBarPropio {
    gap: 10px;
  }
  header .hamburguesa {
    margin-right: 50px;
  }
  /*INDEX*/
  .imagenBindex {
    height: 6000px;
  }
  /* PELICULAS*/
  .containerPropioPeliculas {
    padding: 10px;
  }
  .containerPropioPeliculas #texto-peliculas {
    margin: 20px;
  }
  .containerPropioPeliculas .parrafoP {
    margin: 0px;
    padding-bottom: 30px;
  }
  .videosPeliculas iframe {
    width: 450px;
    height: 300px;
  }
  /* NOTICIAS*/
  .seccionNoticias h2 {
    text-align: center;
  }
  .seccionNoticias #texto-noticias {
    text-align: center;
    margin: 25px;
  }
  .rowPropioNoticias {
    align-items: center;
  }
  .imagenBpersonajes {
    background-image: none;
    background-color: #181d27;
    height: 9000px;
  }
  .seccionPersonajes .tituloPersonajes {
    text-align: center;
    padding: 0cm;
    font-size: 4rem;
    padding-top: 40px;
  }
  /* HISTORIA*/
  .seccionHistoria {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .seccionHistoria h2 {
    padding-bottom: 10px;
  }
  .seccionHistoria article p {
    margin: 10px;
    padding: 10px;
    width: 90%;
  }
  .seccionHistoria .parrafo-uno-historia {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .seccionHistoria .parrafo-uno-historia img {
    height: 400px;
    width: 300px;
  }
  .seccionHistoria .parrafo-dos-historia {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .seccionHistoria .parrafo-dos-historia img {
    height: 400px;
    width: 300px;
  }
  .seccionHistoria .parrafo-tres-historia {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .seccionHistoria .parrafo-tres-historia p {
    width: 90%;
  }
  .seccionHistoria .parrafo-tres-historia img {
    height: 300px;
    width: 400px;
  }
  .columnaPropia {
    width: 80%;
  }
  /* Seccion COMICS */
  .seccionComics {
    flex-direction: column;
  }
  .comic1 {
    padding-bottom: 20px;
  }
  footer {
    position: relative;
  }
  footer ul {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 767.98px) {
  .ocultarTablet {
    display: none;
  }
  header {
    position: sticky;
    top: 0;
    z-index: 99999;
  }
  header .navLogo img {
    width: 150px;
    padding: 5px;
  }
  header .navBarPropio {
    gap: 10px;
  }
  header .hamburguesa {
    margin-right: 50px;
  }
  /*INDEX*/
  .imagenBindex {
    height: 6000px;
  }
  /* PELICULAS*/
  .containerPropioPeliculas {
    padding: 10px;
  }
  .containerPropioPeliculas #texto-peliculas {
    margin: 20px;
  }
  .containerPropioPeliculas .parrafoP {
    margin: 0px;
    padding-bottom: 30px;
  }
  .videosPeliculas iframe {
    width: 450px;
    height: 300px;
  }
  /* NOTICIAS*/
  .seccionNoticias h2 {
    text-align: center;
  }
  .seccionNoticias #texto-noticias {
    text-align: center;
    margin: 25px;
  }
  .rowPropioNoticias {
    align-items: center;
  }
  .imagenBpersonajes {
    background-image: none;
    background-color: #181d27;
    height: 9000px;
  }
  .seccionPersonajes .tituloPersonajes {
    text-align: center;
    padding: 0cm;
    font-size: 4rem;
  }
  /* HISTORIA*/
  .seccionHistoria {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .seccionHistoria h2 {
    padding-bottom: 10px;
  }
  .seccionHistoria article p {
    margin: 10px;
    padding: 10px;
    width: 90%;
  }
  .seccionHistoria .parrafo-uno-historia {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .seccionHistoria .parrafo-uno-historia img {
    height: 400px;
    width: 300px;
  }
  .seccionHistoria .parrafo-dos-historia {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .seccionHistoria .parrafo-dos-historia img {
    height: 400px;
    width: 300px;
  }
  .seccionHistoria .parrafo-tres-historia {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .seccionHistoria .parrafo-tres-historia p {
    width: 90%;
  }
  .seccionHistoria .parrafo-tres-historia img {
    height: 300px;
    width: 400px;
  }
  .columnaPropia {
    width: 80%;
  }
  /* Seccion COMICS */
  .seccionComics {
    flex-direction: column;
  }
  .comic1 {
    padding-bottom: 20px;
  }
  footer {
    position: relative;
  }
  footer ul {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }
}
@media (max-width: 575.98px) {
  /* NAVEGADOR*/
  .ocultarMobile {
    display: none;
  }
  header {
    position: sticky;
    top: 0;
    z-index: 99999;
  }
  header .navLogo img {
    width: 100px;
    padding: 5px;
  }
  header .navBarPropio {
    gap: 10px;
  }
  header .hamburguesa {
    margin-right: 50px;
  }
  /*INDEX*/
  .imagenBindex {
    height: 6000px;
  }
  /* PELICULAS*/
  .containerPropioPeliculas {
    margin: 0px;
    padding: 30px;
  }
  .containerPropioPeliculas #texto-peliculas {
    margin: 20px;
  }
  .containerPropioPeliculas .parrafoP {
    margin: 0px;
    padding-bottom: 30px;
  }
  .videosPeliculas iframe {
    width: 430px;
    height: 400px;
  }
  /* NOTICIAS*/
  .seccionNoticias h2 {
    text-align: center;
  }
  .seccionNoticias #texto-noticias {
    text-align: center;
    margin: 25px;
  }
  .rowPropioNoticias {
    align-items: center;
  }
  .imagenBpersonajes {
    background-image: none;
    background-color: #181d27;
    height: 10000px;
  }
  .seccionPersonajes .tituloPersonajes {
    font-size: 3rem;
    padding-top: 30px;
  }
  .seccionPersonajes .tamanoTarjeta {
    width: 400px;
    height: 600px;
    padding: 0px;
  }
  /* HISTORIA*/
  .seccionHistoria {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .seccionHistoria h2 {
    padding-bottom: 10px;
  }
  .seccionHistoria article p {
    margin: 10px;
    padding: 10px;
    width: 90%;
  }
  .seccionHistoria .parrafo-uno-historia {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .seccionHistoria .parrafo-uno-historia img {
    height: 400px;
    width: 300px;
  }
  .seccionHistoria .parrafo-dos-historia {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .seccionHistoria .parrafo-dos-historia img {
    height: 400px;
    width: 300px;
  }
  .seccionHistoria .parrafo-tres-historia {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
  }
  .seccionHistoria .parrafo-tres-historia p {
    width: 90%;
  }
  .seccionHistoria .parrafo-tres-historia img {
    height: 300px;
    width: 400px;
  }
  .columnaPropia {
    width: 80%;
  }
  /* Seccion COMICS */
  .seccionComics {
    flex-direction: column;
  }
  .comic1 {
    padding-bottom: 20px;
  }
  /* Footer para las 3 secciones */
  footer {
    position: relative;
  }
  footer ul {
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }
}

/*# sourceMappingURL=estilos.css.map */
