* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}


/* BOOTSTRAP Navegador */

header {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 99999;

}


.contenidoNav {
    background-color: black;
}

.contenidoAlrededor {
    padding: 0%;


}

.navLinkPropio a {
    text-decoration: none;
    color: rgb(252, 252, 252);
    list-style: none;
    font-family: 'Barlow', sans-serif;
    font-size: large;
    margin: 40px;


}

.navLinkPropio a:hover {
    color: rgb(205, 40, 40);
}

.letrasNav {
    justify-content: center;

}


.hamburguesa {
    color: rgb(27, 32, 34);
    background-color: rgb(27, 32, 34);

}







/* Imagenes Index*/

.imagenIndex img {
    width: 100%;
    height: 100%;
}

.imagenBindex {
    background-image: url(../paginas/imagenes/backgimage.jpg);
    height: 5000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* INDEX agradecimiento*/


.seccionAgradecimiento div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;


    padding-top: 20%;
}

.imagenAgradecimiento {
    width: 500px;
}







/* tipos de letas en la seccion de Index Peliculas ,noticias y comics*/


.seccionComics p,
.seccionComics nav a,
.seccionNoticias a,
.parrafoPeliculas p,
.seccionNoticias ul li {
    font-family: 'Barlow', sans-serif;
    color: rgb(245, 250, 250);
    font-size: 2rem;
    text-decoration: none;
    list-style: none;
}

.seccionNoticias h2 {
    color: rgb(245, 250, 250);
    font-size: 3rem;
    margin: 20px;
    text-align: center;
}

.seccionComics h2 {
    color: rgb(245, 250, 250);
    font-size: 3rem;
    margin: 20px;
    text-align: center;
}

#texto-noticias {
    color: rgb(245, 250, 250);
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.parrafoPeliculas p {
    margin: 20px;
    padding: 10px;
}



.seccionNoticias {
    padding: 10px;
    margin: 20px;
}

.seccionComics {
    padding: 10px;
    margin: 20px;
}

.seccionNoticias ul {
    padding: 10px;
}





/* seccion Peliculas imagenes y seccion peliculas videos*/




.videosPeliculas {
    padding: 30px;
}



.videosPeliculas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}







/* BS INDEX PELICULAS*/

.containerPropioPeliculas {
    padding: 40px;
    margin-top: 40px;

}

#texto-peliculas {
    font-size: 3rem;
    color: white;
    text-align: center;
    font-style: inherit;
}

.parrafoP {
    font-size: 2rem;
    color: white;
    text-align: center;
    margin: 50px;
    font-style: inherit;

}


/* BS INDEX NOTICIAS*/
.tituloPropio {
    font-size: 1.5rem;
    color: white;
    text-align: center;
}

.textoTarjeta {
    color: rgb(245, 242, 242);

}

.wPropio {
    width: 70% ! important;
    background-color: rgb(15, 15, 19);
    margin: 20px;
}

.cuerpoTarjeta {
    background-color: rgb(15, 15, 19);
    border: 0;
    align-items: center;

}

.botonPropio {
    background-color: rgb(6, 54, 55);
    border-color: rgb(6, 54, 55);
    font-size: 1rem;

}

.botonPropio:hover {
    background-color: darkcyan;
    border-color: darkcyan;
    background-color: transparent;

}

.navLogo img {
    width: 200px;
}



/* ARREGLO CARDS PERSONAJES*/
/* ANIMACIONES PERSONAJES*/


.titulo {
    text-align: center;
    color: beige;
    font-size: 20px;
}

.tituloPersonajes {
    text-align: right;
    color: rgb(249, 246, 244);
    font-size: 4rem;
    padding-top: 30px;
    padding-right: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 50%;
}



.cuerpodeTarjeta {
    background-color: black;
    padding: 30px;

}

.estiloTarjeta {
    border: rgb(16, 14, 14);
}

.letras {
    color: beige;
    font-size: 12px;



}

.letras:hover {
    transform: scale(1.1);
    transition: all 0.7s;
}


.tamanoTarjeta {
    padding-top: 40px;
    width: 400px;
    height: 600px;

}

.contenedorPersonajes {
    padding-left: 30px;
}


.botonPropio:hover {
    color: darkcyan;
}






/* seccion personajes fondo */

.imagenBpersonajes {
    background-image: url(../paginas/imagenes/imagenbackg2.jpg);
    height: 5000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}







/* Tipos de letras seccion personajes*/






/* Seccion historia Html aparte */

.seccionHistoria h2 {
    color: rgb(245, 250, 250);
    font-family: 'Barlow', sans-serif;
    font-size: 3rem;
    text-align: center;
    padding: 10px;


}

.seccionHistoria p {
    font-family: 'Barlow', sans-serif;
    color: rgb(245, 250, 250);
    font-size: 2rem;
}




/* Backgraound img Historia*/

.backgroundColorHistoria {
    background-image: url(../paginas/imagenes/backgimage3.jpg );
    height: 8000%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Imagenes Historia*/

.parrafo-uno-historia img {
    height: 600px;
    width: 500px;
}

.parrafo-dos-historia img {
    height: 600px;
    width: 400px;

}

.parrafo-tres-historia img {
    height: 400px;
    width: 600px;
}


/* Historia Flex */

.seccionHistoria article p {
    margin: 30px;
    padding: 30px;
    width: 40%;
    height: 20%;
}



.parrafo-uno-historia {
    display: flex;
    flex-direction: row;
    justify-content: left;


}


.parrafo-dos-historia {
    display: flex;
    flex-direction: row-reverse
}

.parrafo-tres-historia {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;


}



.videosHistoria {
    margin: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* letras Historia*/



.parrafo-uno-historia p {
    font-size: large;
}

.parrafo-dos-historia p {
    font-size: large;
}

.parrafo-tres-historia p {
    font-size: large;
}

article p {
    font-family: 'Barlow', sans-serif;
    color: beige;
    font-size: 3rem;
}




/* Seccion Comics*/

.comics nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}



.seccionComics h2 {
    padding: 10px;
    text-align: center;
}



/* Footer compartido a mis 3 html*/

footer {
    background-color: black;
    font-size: 2rem;
    font-family: 'Barlow', sans-serif;
    color: rgb(255, 255, 246);

    position: sticky;
    bottom: 0%;

}

footer ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-evenly;

}

footer ul li a {
    text-decoration: none;
    color: rgb(244, 242, 238);
}



/* TRANSICIONES*/

.seccionPeliculas article a :hover {
    transform: scale(1.1);
    transition: all 0.7s;

}

/* TRANS. SECCION COMICS*/
.comic1:hover {
    transform: scale(1.1);
    transition: all 0.7s;
}

.comic2:hover {
    transform: scale(1.1);
    transition: all 0.7s;
}

.comic3:hover {
    transform: scale(1.1);
    transition: all 0.7s;
}

.comic4:hover {
    transform: scale(1.1);
    transition: all 0.7s;
}

.comic5:hover {
    transform: scale(1.1);
    transition: all 0.7s;
}

.comic6:hover {
    transform: scale(1.1);
    transition: all 0.7s;

}






/* Media Queries */

@media screen and (max-width:576px) {


    /* NAVEGADOR*/

    .navLinkPropio a {
        margin: 5px;
    }

    .contenidoNav {
        justify-content: center;
    }

    /* Seccion Index ( peliculas y noticias ) */


    .imagenBindex {
        height: 6000px;
    }


    .seccionPeliculas {
        padding-top: 20px;
    }

    .videosPeliculas {
        flex-direction: column;

    }

    .videosPeliculas iframe {
        width: 430px;
        height: 400px;
    }


    .seccionNoticias h2 {
        text-align: center;
    }



    /* Seccion Personajes */



    .imagenBpersonajes {
        height: 7000px;
    }

    .tamanoTarjeta {
        padding-top: 20px;
        width: 400px;
        height: auto;

    }

    .contenedorPersonajes {

        padding: 5px;


    }








    /* Footer para las 3 secciones */


    footer ul {
        flex-direction: column-reverse;
        justify-content: space-between;
        align-items: center;



    }



    /* Seccion Historia*/


    .seccionHistoria {
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;

    }

    .parrafo-uno-historia {
        flex-direction: column;
        align-items: center;

        flex-wrap: wrap;

    }

    .parrafo-uno-historia {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .parrafo-dos-historia {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }


    .parrafo-tres-historia {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }


    .parrafo-uno-historia img {

        height: 400px;
        width: 300px;
    }

    .parrafo-dos-historia img {
        height: 400px;
        width: 300px;

    }

    .parrafo-tres-historia img {
        height: 300px;
        width: 400px;
    }

    .seccionHistoria article p {
        margin: 10px;
        padding: 10px;
        width: 90%;
    }

    .videosHistoria {
        margin: 10px;
        flex-direction: column;
        align-items: center
    }

    .videosHistoria iframe {
        width: 440px;
        height: 400px;
    }



    /* Seccion Comics */


    .seccionComics {
        flex-direction: column;


    }



}