* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

.btn-link {
    text-decoration: none;
}

/*************** BOOTSTRAP Navegador **************/

header {
    position: sticky;
    top: 0;
    z-index: 99999;

    .navLogo img {
        width: 200px;
        padding: 15px;
    }

    .navLinkPropio a {
        font-family: $font-family-principal;
        font-size: 3rem;


        &:hover {
            color: #d9352e !important;
        }

    }


    .navBarPropio {
        gap: 100px;
    }

    .hamburguesa {
        color: rgb(27, 32, 34);
        background-color: rgb(244, 241, 241);

    }
}



/********* Footer compartido a mis 3 html**********/

footer {
    background-color: $bg-principal;
    font-size: 15px;
    font-family: $font-family-secundario;
    color: $color-principal;


    bottom: 0%;
    

    ul {
        padding-top: 10px;
        padding-bottom: 10px;

        margin: 0px;
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        justify-content: space-evenly;

        li a {
            margin-left: 5px;
            text-decoration: none;
            color: $color-principal;
        }

        li a:hover{
            color:#d9352e
        }
    
}
    
    }



