/* Index GIF*/

.imagenBindex {
    background-image: url(../paginas/imagenes/backgimage.jpg);
    height: 3000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/********** SECCION PELICULAS - INDEX************/

.containerPropioPeliculas {
    padding: 40px;
    margin-top: 40px;

    #texto-peliculas {
        font-size: 3rem;
        color: white;
        text-align: center;
        font-family: $font-family-principal;

    }

    .parrafoP {

        @include parrafosIndex
      
    }

}

.videosPeliculas {
    @extend %disposicion;
    padding: 30px;

}

.seccionNoticias {
    margin: 0px;

    h2 {
        font-size: 3rem;
        margin: 20px;
        text-align: center;
        font-family: $font-family-principal;
    }

    #texto-noticias {
        color:$color-principal;
        font-size: 2rem;
        font-family: $font-family-secundario;
        margin: 50px;
        
    }
}

/*  CARDS NOTICIAS -INDEX */

.wPropio {
    width: 70% !important;
    background-color: #181d27ff;
    margin-bottom: 40px;
}



.botonPropio {
    background-color: rgb(6, 54, 55);
    border-color: rgb(6, 54, 55);
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 7px;
    font-size: 2rem;

}
   
.botonPropio:hover{
    color: darkcyan !important;
    background-color: darkcyan !important ;
    border-color: darkcyan !important;
    background-color: transparent !important;
}


.tituloFormulario{
    color: white;
    font-size: 3rem;
    margin: 20px;
    text-align: left;
    font-family: $font-family-principal;   
}

.tipoDeLetra{
    font-family: $font-family-secundario;
    color: $color-principal;
    font-size: 20px;
}

.botonPropioFormulario{
    margin-top: 20px;
    color: $color-principal;
    background-color: darkred;
    border-color: darkred;
}

.rowPropioFormulario{
    padding-top: 100px;
}

